# Java generated
target/

# Developer environment setup
/resources/
/config/
*.patch

# Subversion
.svn

# IntelliJ
.idea
*.iml
*.ipr
*.iws

# Eclipse
.project
.settings
.classpath
*/maven-eclipse.xml

# Windows
Thumbs.db
*.lnk

# OSX
.DS_Store

# log files and temp dirs
/log/
cTAKES.error.log
/temp/
/tmp/

# Web ARchives - built by ctakes
*.war

.factorypath
output/rest-server.log
output/ctakes-in/grammer_fixed.txt
output/ctakes-in/icd_test_note.txt
output/ctakes-in/sample_note.txt
output/ctakes-in/explore/clinical_tour.txt
output/ctakes-in/explore/coref_note.txt
output/ctakes-in/explore/grammar_fixed.txt
output/ctakes-in/explore/icu_handover_note.txt
output/ctakes-in/explore/meds_note.txt
output/ctakes-in/explore/side_effect_note.txt
output/ctakes-in/explore/smoking_note.txt
output/ctakes-in/explore/temporal_note.txt
output/ctakes-in/explore/s1/clinical_tour.txt
output/ctakes-in/explore/s2/clinical_tour.txt
output/ctakes-in/explore/s3/clinical_tour.txt
output/ctakes-in/explore/s4/clinical_tour.txt
output/ctakes-in/explore/s5/clinical_tour.txt
output/ctakes-in/explore/s6a/clinical_tour.txt
output/ctakes-in/explore/s6b/clinical_tour.txt
output/ctakes-in/explore/s6c/clinical_tour.txt
output/ctakes-in/explore/s8/icu_handover_note.txt
output/ctakes-in/explore/s8b/shahad_note.txt
output/ctakes-out/ctakes.pretty.css
output/ctakes-out/ctakes.pretty.js
output/ctakes-out/grammer_fixed.txt.pretty.html
output/ctakes-out/grammer_fixed.txt.xmi
output/ctakes-out/sample_note.txt.pretty.html
output/ctakes-out/sample_note.txt.xmi
output/ctakes-out/eval_handover/ctakes.pretty.css
output/ctakes-out/eval_handover/ctakes.pretty.js
output/ctakes-out/eval_handover/culture_pseudomonas.txt.handover.html
output/ctakes-out/eval_handover/culture_pseudomonas.txt.handover.json
output/ctakes-out/eval_handover/culture_pseudomonas.txt.pretty.html
output/ctakes-out/eval_handover/culture_pseudomonas.txt.xmi
output/ctakes-out/eval_handover/imaging_ct_mri.txt.handover.html
output/ctakes-out/eval_handover/imaging_ct_mri.txt.handover.json
output/ctakes-out/eval_handover/imaging_ct_mri.txt.pretty.html
output/ctakes-out/eval_handover/imaging_ct_mri.txt.xmi
output/ctakes-out/eval_handover/labs_creatinine.txt.handover.html
output/ctakes-out/eval_handover/labs_creatinine.txt.handover.json
output/ctakes-out/eval_handover/labs_creatinine.txt.pretty.html
output/ctakes-out/eval_handover/labs_creatinine.txt.xmi
output/ctakes-out/eval_handover/meds_analgesics.txt.handover.html
output/ctakes-out/eval_handover/meds_analgesics.txt.handover.json
output/ctakes-out/eval_handover/meds_analgesics.txt.pretty.html
output/ctakes-out/eval_handover/meds_analgesics.txt.xmi
output/ctakes-out/eval_handover/oral_vancomycin.txt.handover.html
output/ctakes-out/eval_handover/oral_vancomycin.txt.handover.json
output/ctakes-out/eval_handover/oral_vancomycin.txt.pretty.html
output/ctakes-out/eval_handover/oral_vancomycin.txt.xmi
output/ctakes-out/eval_handover/surgical_icu_meds.txt.handover.html
output/ctakes-out/eval_handover/surgical_icu_meds.txt.handover.json
output/ctakes-out/eval_handover/surgical_icu_meds.txt.pretty.html
output/ctakes-out/eval_handover/surgical_icu_meds.txt.xmi
output/ctakes-out/explore/01_tokenizer/clinical_tour.txt.pretty.html
output/ctakes-out/explore/01_tokenizer/clinical_tour.txt.xmi
output/ctakes-out/explore/01_tokenizer/ctakes.pretty.css
output/ctakes-out/explore/01_tokenizer/ctakes.pretty.js
output/ctakes-out/explore/02_relations/clinical_tour.txt.pretty.html
output/ctakes-out/explore/02_relations/clinical_tour.txt.xmi
output/ctakes-out/explore/02_relations/ctakes.pretty.css
output/ctakes-out/explore/02_relations/ctakes.pretty.js
output/ctakes-out/explore/03_temporal/clinical_tour.txt.pretty.html
output/ctakes-out/explore/03_temporal/clinical_tour.txt.xmi
output/ctakes-out/explore/03_temporal/ctakes.pretty.css
output/ctakes-out/explore/03_temporal/ctakes.pretty.js
output/ctakes-out/explore/03_temporal/temporal_note.txt.pretty.html
output/ctakes-out/explore/03_temporal/temporal_note.txt.xmi
output/ctakes-out/explore/04_coref/clinical_tour.txt.pretty.html
output/ctakes-out/explore/04_coref/clinical_tour.txt.xmi
output/ctakes-out/explore/04_coref/coref_note.txt.pretty.html
output/ctakes-out/explore/04_coref/coref_note.txt.xmi
output/ctakes-out/explore/04_coref/ctakes.pretty.css
output/ctakes-out/explore/04_coref/ctakes.pretty.js
output/ctakes-out/explore/05_big/anafora/clinical_tour.txt.EventTime.ctakes.completed.xml
output/ctakes-out/explore/05_big/bsv_table/clinical_tour_table.BSV
output/ctakes-out/explore/05_big/bsv_tokens/clinical_tour_table.BSV
output/ctakes-out/explore/05_big/csv_table/clinical_tour_table.CSV
output/ctakes-out/explore/05_big/fhir/clinical_tour.txt.json
output/ctakes-out/explore/05_big/html/clinical_tour.txt.pretty.html
output/ctakes-out/explore/05_big/html/ctakes.pretty.css
output/ctakes-out/explore/05_big/html/ctakes.pretty.js
output/ctakes-out/explore/05_big/html_table/clinical_tour_table.HTML
output/ctakes-out/explore/05_big/html_tokens/clinical_tour_table.HTML
output/ctakes-out/explore/05_big/text/clinical_tour.pretty.txt
output/ctakes-out/explore/05_big/xmi/clinical_tour.txt.xmi
output/ctakes-out/explore/06_drug/clinical_tour.txt.pretty.html
output/ctakes-out/explore/06_drug/clinical_tour.txt.xmi
output/ctakes-out/explore/06_drug/ctakes.pretty.css
output/ctakes-out/explore/06_drug/ctakes.pretty.js
output/ctakes-out/explore/06_drug/meds_note.txt.pretty.html
output/ctakes-out/explore/06_drug/meds_note.txt.xmi
output/ctakes-out/explore/06_sideeffect/clinical_tour.txt.pretty.html
output/ctakes-out/explore/06_sideeffect/clinical_tour.txt.xmi
output/ctakes-out/explore/06_sideeffect/ctakes.pretty.css
output/ctakes-out/explore/06_sideeffect/ctakes.pretty.js
output/ctakes-out/explore/06_sideeffect/side_effect_note.txt.pretty.html
output/ctakes-out/explore/06_sideeffect/side_effect_note.txt.xmi
output/ctakes-out/explore/06_sideeffect/sideEffect_dictionary.txt
output/ctakes-out/explore/06_smoking/ctakes.pretty.css
output/ctakes-out/explore/06_smoking/ctakes.pretty.js
output/ctakes-out/explore/06_smoking/smoking_note.txt.pretty.html
output/ctakes-out/explore/06_smoking/smoking_note.txt.xmi
output/ctakes-out/explore/06_smoking_cpe/clinical_tour.txt.xmi
output/ctakes-out/explore/06_smoking_cpe/smoking_note.txt.xmi
output/ctakes-out/explore/07_fhir/clinical_tour.txt.json
output/ctakes-out/explore/07_fhir/clinical_tour.txt.pretty.html
output/ctakes-out/explore/07_fhir/clinical_tour.txt.xmi
output/ctakes-out/explore/07_fhir/ctakes.pretty.css
output/ctakes-out/explore/07_fhir/ctakes.pretty.js
output/ctakes-out/explore/07_rest/process_cui.txt
output/ctakes-out/explore/07_rest/process_fhir.json
output/ctakes-out/explore/07_rest/process_pretty.txt
output/ctakes-out/explore/07_rest/process_umls.json
output/ctakes-out/explore/07_rest_all_formats/index.html
output/ctakes-out/explore/07_rest_all_formats/process_cui.html
output/ctakes-out/explore/07_rest_all_formats/process_cui.txt
output/ctakes-out/explore/07_rest_all_formats/process_default.html
output/ctakes-out/explore/07_rest_all_formats/process_default.json
output/ctakes-out/explore/07_rest_all_formats/process_default.pretty.json
output/ctakes-out/explore/07_rest_all_formats/process_fhir.html
output/ctakes-out/explore/07_rest_all_formats/process_fhir.json
output/ctakes-out/explore/07_rest_all_formats/process_fhir.pretty.json
output/ctakes-out/explore/07_rest_all_formats/process_handover.html
output/ctakes-out/explore/07_rest_all_formats/process_handover.json
output/ctakes-out/explore/07_rest_all_formats/process_handover.pretty.json
output/ctakes-out/explore/07_rest_all_formats/process_map.html
output/ctakes-out/explore/07_rest_all_formats/process_map.json
output/ctakes-out/explore/07_rest_all_formats/process_map.pretty.json
output/ctakes-out/explore/07_rest_all_formats/process_pretty.html
output/ctakes-out/explore/07_rest_all_formats/process_pretty.txt
output/ctakes-out/explore/07_rest_all_formats/process_property.html
output/ctakes-out/explore/07_rest_all_formats/process_property.txt
output/ctakes-out/explore/07_rest_all_formats/process_umls.html
output/ctakes-out/explore/07_rest_all_formats/process_umls.json
output/ctakes-out/explore/07_rest_all_formats/process_umls.pretty.json
output/ctakes-out/explore/07_rest_all_formats/process_xmi.html
output/ctakes-out/explore/07_rest_all_formats/process_xmi.pretty.xmi
output/ctakes-out/explore/07_rest_all_formats/process_xmi.xmi
output/ctakes-out/explore/07_rest_grammar_fixed/process_cui.txt
output/ctakes-out/explore/07_rest_grammar_fixed/process_fhir.json
output/ctakes-out/explore/07_rest_grammar_fixed/process_pretty.txt
output/ctakes-out/explore/07_rest_grammar_fixed/process_umls.json
output/ctakes-out/explore/08_icu/ctakes.pretty.css
output/ctakes-out/explore/08_icu/ctakes.pretty.js
output/ctakes-out/explore/08_icu/icu_handover_note.txt.handover.html
output/ctakes-out/explore/08_icu/icu_handover_note.txt.handover.json
output/ctakes-out/explore/08_icu/icu_handover_note.txt.pretty.html
output/ctakes-out/explore/08_icu/icu_handover_note.txt.xmi
output/ctakes-out/explore/08_icu_shahad/ctakes.pretty.css
output/ctakes-out/explore/08_icu_shahad/ctakes.pretty.js
output/ctakes-out/explore/08_icu_shahad/shahad_note.txt.handover.html
output/ctakes-out/explore/08_icu_shahad/shahad_note.txt.handover.json
output/ctakes-out/explore/08_icu_shahad/shahad_note.txt.pretty.html
output/ctakes-out/explore/08_icu_shahad/shahad_note.txt.xmi
output/ctakes-out/icd_test/icd_dictionary_umls.json
